name: txns
channels:
  - conda-forge
dependencies:
  - python
  - numpy
  - pandas
  - matplotlib
  - seaborn
  - networkx
  - polars
  - pyarrow
  - pip
  - pip:
    - jupyter
    - pymannkendall
    - pycop

